.layout {
  position: relative;
  width: 100%;
  margin: 0;
  padding: 0;
}

.nav {
  width: 20%;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  margin: 0;
  padding: 0;
  background: rgba(100, 140, 220, 0.8);
}

.header {
  padding: 5rem 0 0;
  width: 200px;
  margin: 0 -100px 0 auto;
}

.footer {
  padding: 2rem;
  position: absolute;
  top: 0;
  right: 0;
  font-size: .85rem;
  font-weight: bold;
}

.icon {
  width: 160px;
  margin: 0 auto;
}

.logo {
  padding-top: 3rem;
}

.icon img,
.logo img {
  width: 100%;
}

.header svg {
  fill: var(--foreground-color);
}

.box {
  width: 80%;
  margin: 0 0 0 20%;
  padding: 0;
}

.page {
  max-width: 1800px;
  margin: 0;
  padding: 12rem 2rem 12rem 12rem;
}

/* Small */
@media (max-width: 1200px) {
  .nav {
    width: 10%;
  }
  .box {
    width: 90%;
    margin-left: 10%;
  }
  .header {
    width: 100px;
    margin-right: -50px;
  }
  .icon {
    width: 80px;
  }
  .logo {
    padding-top: 1rem;
  }
  .page {
    padding: 6rem 2rem 6rem 6rem;
  }
}

/* Mobile */
@media (max-width: 400px) {
  .nav {
    width: 100%;
    height: 150px;
    margin-bottom: 70px;
    position: relative;
  }
  .footer {
    padding: 1rem;
    left: 0;
    text-align: center;
    color: var(--accent-color);
  }
  .box {
    width: 100%;
    margin-left: 0;
  }
  .header {
    margin-right: auto;
  }
  .page {
    padding: 6rem 2rem;
  }
}

@media (prefers-color-scheme: dark) {
}
